/*version 1.0.1.0 build 201512291536*/

html{
	background-color:#eee;
}

body{
	margin:0px;
	padding:0px;
}

#notification div{
	display:inline;
}

#notification div a{
	text-decoration:none;
	color:#000;
	font-family: Futura, Tahoma, Sans-Serif;
	padding-left:50px;
	padding-right:50px;
	border:1px solid black;
	display:inline;
}

#notification{
	text-align:center;
	padding:3px;
	background-color:#fa0;
}

#information-choice{
	white-space: nowrap;
}

#site{
	min-width:1000px;
	margin: auto;
}

#header{
	text-align:center;
	background-color:#bbb;
	padding:1px;
	padding-top:8px;
}

#header a{
	text-decoration:none;
	color:#000;
}

#footer{
	text-align:center;
	background-color:#aaa;
}

#footer li{
	display:inline;
}

#footer a{
	text-decoration:none;
	color:#000;
	padding-right: 10px;
	padding-left: 10px;
}

#footer a:hover{
	text-decoration:underline;
}

#mainmenu img{
	vertical-align:middle;
	display:inline;
	height:50px;
	width:50px;
}

#mainmenu{
  	display:inline;
	width:100%;
	list-style:none;
	margin-bottom:10px;
	padding-left: 0px;
}

#mainmenu li{
	margin-right:10px;
	position:relative;
	display:inline;
	z-index:10;
}

#mainmenu li a{
	display:inline;
	color:#000;
	background:#bbb;
	font-family: Futura, Tahoma, Sans-Serif;
	font-size:200%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	position:center;
	margin-left:-5px;
}

#mainmenu li a:hover{
	background:#eee;
}

#mainmenu ul{
	list-style:none;
	position:absolute;
	left:-9999px; 
}

#mainmenu ul li{
	float:none;
}

#mainmenu ul a{
	white-space:nowrap; 
	display:block;
	margin:-10px;
	font-size:150%;
}

#mainmenu li:hover ul{ 
	left:-35px;
	top:23px;
	text-align: center;
}

#mainmenu li:hover ul li a:hover{ 
	background:#eee;
}

#site_content{
	position:inherit;
	max-width:1000px;
	margin:auto;
}

#about_content{
	text-align: center;
	max-width:1000px;
	margin:auto;
}

#about_content a{
	color:#000;
	font-family: Futura, Tahoma, Sans-Serif;
}

#about_content ul{
	padding:0px;
}

#about_content li{
	 list-style-type:none;
}

#software_content{
	text-align:center;
	text-decoration: none;
}

#snake_content{
	position:inherit;
	max-width:1000px;
	margin:auto;
}

#snake_content h1 a{
	text-decoration:none;
	color:#000;
	font-family: Futura, Tahoma, Sans-Serif;
	font-size:50%;
	padding-left:25px;
	padding-right:25px;
	border:3px solid black;
}

#snake_content img{
	height:15px;
	width:75px;
}

#snake_screenshots{
	border:2px solid black;
	text-align:center;	
}

#snake_screenshots img{
	height:auto;
	width:30%;
	padding:10px;
}

#disearch_screenshot{
	border:2px solid black;
	text-align:center;	
}

#disearch_screenshot img{
	height:auto;
	width:auto;
	padding:10px;
}

#photo_link{
	height:500px;
	width:500px;
	position:relative;
	background-repeat: no-repeat;
    background-position: center; 
    background-color:#fff;
    background-size:100% auto;
    margin:40px;
	border:2px solid black;
	border-radius:25px;
	display:inline-block;
}

#photo_link p{
    position:absolute;
    bottom:10px;
    margin:0px;
    left:;
    font-size:200%;
	font-family: Futura, Tahoma, Sans-Serif;
	text-align:center; width:100%;
	color:#000;
}

#news_content{
	max-width:1000px;
	font-family: Futura, Tahoma, Sans-Serif;
	margin:auto;
}

.post img{
	width:100%;
}

.post a{
	color:black;
}

.post span{
	background-color:#bbb;
	color:#000;
}

.post_content{
	max-width:1000px;
	font-family: Futura, Tahoma, Sans-Serif;
	margin:auto;
}

.small_photo img{
	width:auto;
}

#testdrive_content{
	text-align:center;
	text-decoration: none;
}

#browsers_content{
	text-align:center;
	text-decoration: none;
}

.browsers_os_content{
		max-width:1000px;
		font-family: Futura, Tahoma, Sans-Serif;
		margin:auto;
}

.browsers_os_content img{
	width:100%;
}

.browsers_os_content a{
	color:#000;
}

.browsers_os_content h4{
	text-align:left;
}

#browsers_os_contestants table{
	width:100%;
	border-collapse: collapse;
	text-align:center;
}

#browsers_os_contestants td{
	border: #000000 2px solid;
}

#browsers_os_contestants img{
	height:100px;
	width:100px;
}

#browsers_os_results img{
	width:auto;
}

#browsers_os_overall{
	max-width:1000px;
	font-family: Futura, Tahoma, Sans-Serif;
	margin:auto;
}

#browsers_os_overall img{
	width:auto;
}

#browsers_about{
	max-width:1000px;
	font-family: Futura, Tahoma, Sans-Serif;
	margin:auto;
}

#browsers_about table{
	width:100%;
	border-collapse: collapse;
	text-align:center;
}

#browsers_about td{
	border: #000000 2px solid;

}

#browsers_about img{
	height:100px;
	width:100px;
}

#browsers_about a{
	color:#000;
}

#browsers_about p img{
	float:right;
	width:500px;
	height:auto;
	display:inline-block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#about_us_content{
	max-width:1000px;
	font-family: Futura, Tahoma, Sans-Serif;
	margin:auto;
	text-align:center;
}

#about_us_content img{
	width:100%;
}

#about_us_content a{
	color:#000;
}