html{
	background-color:#ddd;
}

body{
	margin:0px;
	padding:0px;
}

#notification div{
	display:inline;

}

#notification div a{
	text-decoration:none;
	color:#000;
	font-family: Futura, Tahoma, Sans-Serif;
	padding-left:50px;
	padding-right:50px;
	border:1px solid black;
	display:inline;
}

#notification{
	text-align:center;
	
	padding:3px;
	background-color:#fa0;
}
#information-choice{
	white-space: nowrap;
}
#site{
	min-width:1000px;
	margin: auto;
}

#header{
	text-align:center;
	background-color:#bbb;
	padding:1px;
	padding-top:8px;

}

#header a{
	text-decoration:none;
	color:#000;
}

#footer{
	text-align:center;
	background-color:#aaa;

}

#footer li{
	display:inline;
}

#footer a{
	text-decoration:none;
	color:#000;
	padding-right: 10px;
	padding-left: 10px;
}

#footer a:hover{
	text-decoration:underline;
}

#mainmenu img{
	vertical-align:middle;
	display:inline;
	height:50px;
	width:50px;
}

#mainmenu{
  	display:inline;
	width:100%;
	list-style:none;
	margin-bottom:10px;
	padding-left: 0px;
}
#mainmenu li{
	margin-right:10px;
	position:relative;
		display:inline;
			z-index:10;
			/*padding: 10px;      */
}
#mainmenu li a{
		display:inline;
	color:#000;
	background:#bbb;
	font-family: Futura, Tahoma, Sans-Serif;
	font-size:200%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	position:center;
	margin-left:-5px;

}
#mainmenu li a:hover{
	background:#eee;
}

#mainmenu ul{
	list-style:none;
	position:absolute;
	left:-9999px; 
}
#mainmenu ul li{
	float:none;
}
#mainmenu ul a{
	white-space:nowrap; 
	display:block;
	margin:-10px;
	font-size:150%;
}
#mainmenu li:hover ul{ 
	/*left:0px;*/
	left:-35px;
	top:23px;
	text-align: center;
}

#mainmenu li:hover ul li a:hover{ 
	background:#eee;
}

#site_content{
	position:inherit;
	max-width:1000px;
	margin:auto;

}

#about_content{
	text-align: center;
}

#software_content{
	text-align:center;
	text-decoration: none;
}

#snake_content{
	position:inherit;
	max-width:1000px;
	margin:auto;

}

#snake_content h1 a{
	text-decoration:none;
	color:#000;
	font-family: Futura, Tahoma, Sans-Serif;
	font-size:50%;
	padding-left:25px;
	padding-right:25px;
	border:3px solid black;
}
#snake_content img{
	height:15px;
	width:75px;
}
#snake_screenshots{
	border:2px solid black;
		text-align:center;

	
}
#snake_screenshots a{

}
#snake_screenshots img{
	height:auto;
	width:30%;
	padding:10px;

}
#disearch_screenshot{
	border:2px solid black;
		text-align:center;

	
}

#disearch_screenshot img{
	height:auto;
	width:auto;
	padding:10px;

}
#photo_link{
	height:500px;
	width:500px;
	position:relative;
	background-repeat: no-repeat;
    background-position: center; 
    background-color:#fff;
    margin:40px;
	border:2px solid black;
	border-radius:25px;
			display:inline-block;

}
#photo_link p{
     position:absolute;
     bottom:0px;
     left:;
     font-size:200%;
	font-family: Futura, Tahoma, Sans-Serif;
text-align:center; width:100%;
color:#000;

}
#news_content{
	max-width:1000px;
		font-family: Futura, Tahoma, Sans-Serif;
		margin:auto;

}
 .post{
	/*border:1px solid black;*/

}
 .post img{
	width:100%;

}
.post a{
	color:black;
}
.post span{
	background-color:#bbb;
	color:#000;

}

.post_content{
	max-width:1000px;
		font-family: Futura, Tahoma, Sans-Serif;
		margin:auto;
}


#about_us_content{
	max-width:1000px;
		font-family: Futura, Tahoma, Sans-Serif;
		margin:auto;
	text-align:center;
}

#about_us_content img{
	width:100%;
}
#about_us_content a{
	color:#000;
}