html{
	background-color:#ddd;
}

body{
	margin:0px;
	padding:0px;

}

#site{
	min-width: 1200px;
	margin: auto;
}

#header{
	text-align:center;
	background-color:#bbb;
	padding:1px;
}

#header a{
	text-decoration:none;
	color:#000;
}

#footer{
	text-align:center;
	background-color:#aaa;

}

#footer li{
	display:inline;
}

#footer a{
	text-decoration:none;
	color:#000;
	padding-right: 10px;
	padding-left: 10px;
}

#footer a:hover{
	text-decoration:underline;
}

#mainmenu img{
	vertical-align:middle;
	display:inline;
	height:50px;
	width:50px;
}

/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#mainmenu{
  	display:inline;
	width:100%;
	list-style:none;
	margin-bottom:10px;
}
#mainmenu li{
	margin-right:10px;
	position:relative;
		display:inline;
}
#mainmenu li a{
		display:inline;
	color:#000;
	background:#bbb;
	font-family: Futura, Tahoma, Sans-Serif;
	font-size:200%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	position:center;
	margin-left:-5px;

}
#mainmenu li a:hover{
	background:#eee;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#mainmenu ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
}
#mainmenu ul li{
	float:none;
}
#mainmenu ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
	margin:-10px;
}
#mainmenu li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:-35px;/* Приносим его обратно на экран, когда нужно */
	top:23px;
	text-align: center;
}
#mainmenu li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */

}
#mainmenu li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	
}
#mainmenu li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#eee;
}

/*
#mainmenu{
	display:inline;
}

#mainmenu li a{
	display:inline;
	font-family: Futura, Tahoma, Sans-Serif;
	font-size:200%;
	color:#000;
	background-color: #bbb;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	position:center;
	margin-left:-5px;
}

#mainmenu li:hover{
	background-color:#ffffff;
}

#mainmenu ul{
	display:inline;
}
*/
#site_content{
	position:inherit;
}

#about_content{
	text-align: center;
}